<section class="section section--inv footer">
  <div class="container">
    <div class="row">
      <ul class="footer__links">
        {% include "_links.html" %}
      </ul>
    </div>
    <hr class="section__hr">
    <div class="footer__claim">
      <img class="footer__claim__items" alt="{ repo.name }" src="/images/logos/project.png" srcset="/images/logos/project@2x.png 2x">
      <span class="footer__claim__items">an open source project by</span>
      <img class="footer__claim__items" alt="resin.io" src="/images/logos/company.png" srcset="/images/logos/company@2x.png 2x">
    </div>
  </div>
</section>
