<section class="section section--inv footer">
  <div class="container">
    <div class="row">
      <ul class="footer__links">
        {% include "_links.html" %}
      </ul>
    </div>
    <hr class="section__hr section__hr--slim">
    <div class="footer__claim">
      <a data-track="link click" data-track-meta='{ "title": "logo", "href": "/"}' href="/">
        <img class="footer__claim__items" alt="{{ repo.name }}" src="/images/logos/project.png" srcset="/images/logos/project@2x.png 2x">
      </a>
      <span class="footer__claim__items">an open source project by</span>
      <a data-track="link click" data-track-meta='{ "title": "{{ company.title }}", "href": "{{company.link}}"}' target="_blank" href="{{company.link}}"><img class="nav__claim__items" alt="{{ company.title }}" src="/images/logos/company.png" srcset="/images/logos/company@2x.png 2x"></a>
    </div>
    <div class="row">
      <ul class="footer__links footer__links--secondary">
        {% include "_secondary-links.html" %}
      </ul>
    </div>
  </div>
</section>
