{% for menuItem in menuLinks %}
<li class="nav-item">
  <a class="nav-link" data-track="link click" data-track-meta='{ "title": "{{ menuItem.title }}", "href": "{{ menuItem.link }}", "position": "nav" }' href="{{ menuItem.link }}">
    {{ menuItem.title }}
  </a>
</li>
{% endfor %}
<li class="nav-item">
  <!-- <a data-track="link click" data-track-attr='{ "title": "github", "href": "{{ repo.url }}", "position": "nav" }' class="nav-link" href="{{ repo.link }}">
    <i class="fa fa-github-alt fa--border fa-2"></i>
  </a> -->
  <a class="nav-link github-button" href="{{ repo.link }}" data-style="mega" data-count-href="/{{ repo.full_name }}/stargazers" data-count-api="/repos/{{ repo.full_name }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ repo.full_name }} on GitHub">Star</a>
</li>
