<nav class="navbar bg-dark bg-inverse navbar-fixed-top">
  <div class="container">
    <div class="nav__claim row">
      <div class="float-md-right">
        <span class="nav__claim__items">an open source project by</span>
        <a data-track="link click" data-track-meta='{ "title": "{{ company.title }}", "href": "{{company.link}}", "position": "nav" }' target="_blank" href="{{company.link}}"><img class="nav__claim__items" alt="balena" src="/images/logos/company.png" srcset="/images/logos/company@2x.png 2x"></a>
      </div>
    </div>
    <div class="row">
      <a data-track="link click" data-track-meta='{ "title": "logo", "href": "/" , "position": "nav" }' class="navbar-brand" href="/"><img class="footer__brand__items" alt="{{ repo.name }}" src="/images/logos/project.png" srcset="/images/logos/project@2x.png 2x"></a>
      <button class="navbar-toggler hidden-md-up pull-xs-right" type="button" data-toggle="collapse" data-target="#nav-items" aria-controls="nav-items" aria-expanded="false" aria-label="Toggle navigation">
        &#9776;
      </button>
      <div class="collapse navbar-toggleable-sm pull-sm-left pull-md-right" id="nav-items">
        <ul class="nav navbar-nav">
          {% include "_links.html" %}
        </ul>
      </div>
    </div>
  </div>
</nav>
