$border-width: 1px;
.downloads__category {
  border: 1px solid $gray-lighter;
  @include border-radius(10px);
  display: block;
  @include rem(margin-top, 50px);
  text-align: center;
  max-width: 100%;
  &:hover {
    @extend .downloads__category--active;
  }
}

.downloads__row {
  margin: auto;
}

.downloads__category__image {
  position: relative;
  width: 80%;
  max-width: 150px;
}

.downloads__category__title {
  color: $gray-dark;
  @include rem(font-size, 16px);
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

.downloads__category--custom {
  border-style: dashed;
  @include rem(padding, 30px);
}

.downloads__category__image--custom {
  max-width: 40px;
  margin-bottom: 20px;
}

.downloads__well {
  position: relative;
  background: $gray;
  color: $white;
  @include rem(padding, 50px);
  @include rem(margin, 20px 15px 0);
}

@include media-breakpoint-down(xs) {
  .downloads__well {
    @include rem(margin, 20px 0 0);
  }
}

.downloads__well__table {
  border: none;
  thead th {
    text-transform: uppercase;
    color: $gray-lighter;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
  }
  tr {
    color: #424242;
  }
  td {
    border-color: #424242;
    color: $white;
  }
  a {
    color: $white;
  }
}

.downloads__well__caret.fa {
  position: absolute;
  color: $gray;
  @include rem(top, -1.5rem);
  @include rem(font-size, 3rem);
  @include css3-prefix('transition',  "left .2s ease-in-out 0s");
}

.downloads__well__profile {
  @include rem(margin-bottom, 50px);
}

.downloads__well__profile__title {
  display: inline-block;
  vertical-align: sub;
}

.downloads__well__profile__icon {
  display: inline-block;
  @include rem(width, 50px);
  @include rem(margin-right, 15px);
}

.downloads__well__footer {
  text-align: center;
  display: none;
}

.downloads__well__footer__link {
  &, &:hover {
    color: $white;
  }
}
.downloads__category--active {
  border-color: $brand-primary;
}
