$border-width: 1px;
.downloads__category {
  border: 1px solid $gray-lighter;
  @include border-radius(10px);
  display: block;
  @include rem(margin-top, 50px);
  text-align: center;
  max-width: 100%;
  &:hover {
    @extend .downloads__category--active;
    .downloads__category__image {
      // top: -1%;
      // width: 82%;
    }
  }
}

.downloads__row {
  margin: auto;
}

.downloads__category__image {
  position: relative;
  width: 80%;
}

// .downloads__category--custom__container {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left:0;
//   right:0;
//   margin: auto;
// }

.downloads__category--custom {
  // position: relative;
  border: none;
  .downloads__category__image {
    max-width: 40px;
    margin: 20px 0;
  }
  h4 {
    color: $gray-dark;
    @include rem(font-size, 16px);
    font-weight: bold;
    &:hover {
      text-decoration: none;
    }
    margin-bottom: 20px;
  }
}

.downloads__well {
  background: $gray;
  color: $white;
  @include rem(padding, 50px);
  // TODO wtf y 27?
  @include rem(margin, 20px 15px 0);
  position: relative;
}

@include media-breakpoint-down(xs) {
  .downloads__well {
    @include rem(margin, 20px 0 0);
  }
}

.downloads__well__table {
  border: none;
  thead th {
    text-transform: uppercase;
    color: $gray-lighter;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
  }
  tr {
    color: #424242;
  }
  td {
    border-color: #424242;
    color: $white;
  }
  a {
    color: $white;
  }
}

.downloads__well__caret.fa {
  position: absolute;
  @include rem(top, -1.5rem);
  color: $gray;
  @include rem(font-size, 3rem);
  will-change: left;
  @include css3-prefix('transition',  "left .2s ease-in-out 0s");
}

.downloads__well__profile {
  @include rem(margin-bottom, 50px);
}
.downloads__well__profile__title {
  display: inline-block;
  vertical-align: sub;
}

.downloads__well__profile__icon {
  @include rem(width, 50px);
  display: inline-block;
  @include rem(margin-right, 15px);
}

.downloads__category--active {
  // TODO clean up
  border:none;
  border-top: $border-width solid $gradient-from;
  border-bottom: $border-width solid $gradient-to;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($gradient-from), to($gradient-to));
   background-image: -webkit-linear-gradient($gradient-from, $gradient-to);
   background-image:
       -moz-linear-gradient($gradient-from, $gradient-to),
       -moz-linear-gradient($gradient-from, $gradient-to)
   ;
   background-image:
       -o-linear-gradient($gradient-from, $gradient-to),
       -o-linear-gradient($gradient-from, $gradient-to)
   ;
   background-image:
       linear-gradient($gradient-from, $gradient-to),
       linear-gradient($gradient-from, $gradient-to)
   ;
   -moz-background-size:$border-width 100%;
   background-size:1px 100%;
   background-position:0 0, 100% 0;
   background-repeat:no-repeat;
}
