.FAQs {
  @include rem(margin-bottom, 100px);
}

.FAQ {
  border-bottom: 1px solid $gray-lighter;
  padding: 20px;
  &:first-child {
    // border-top: 1px solid $gray-lighter;
  }
}

.FAQ__content {
  color: lighten( $gray, 20% );
  margin: 20px 0;
}

.FAQ__header {
  width: 100%;
  font-weight: bold;
  color: $gray-dark;
  @include rem(font-size, 22px);
  margin-bottom: 0;
  &, &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

.FAQ__header__expander {
  font-size: 1.6rem;
  vertical-align: middle;
  color: $gray-dark;
}
