.jumbotron {
  text-align: center;
  @include rem(padding, 180px 0 100px);
  background-image: url('/images/jumbotron/hero.png');
  @include image-2x('/images/jumbotron/hero@2x.png');
  background-size: cover;
}

.jumbotron__title {
  @include rem(font-size, 41px);
  font-weight: 600;
}

.jumbotron__lead {
  @include rem(font-size, 24px);
  max-width: 80%;
  margin:auto;
}

.jumbotron__meta {
  @include rem(margin, 15px 0);
  @include rem(font-size, 15px);
  color: $gray-light;
}
