.milestones__container {
  border: 1px solid $gray-lighter;
  padding: 5%;
  @include border-radius(5px);
}

.milestones__container__title {
  i {
    margin-right: 5px;
  }
  text-align: center;
  color: $gray;
}
