.section {
  padding: 50px 0;
  clear: both;
}

.section--border-btm {
  border-bottom: 1px solid $gray-lighter
}

.section--inv {
  .section__hr {
    border-color: $white;
  }
  a {
    color: $white;
  }
  color: $white;
  background-color: $gray-dark;
}

.section__category {
  text-align: center;
  text-transform: uppercase;
  color: $gray-light;
  @include rem(font-size, 14px);
  @include rem(letter-spacing, 3px);
}

.section__title {
  font-weight: 300;
}

.section__icon {
  margin: 1.25rem auto;
  display: block;
}

.section__lead {
  width: 80%;
  margin: auto;
}

.section__header {
  text-align: center;
  @include rem(margin-bottom, 67px);
}

.section__image {
  margin: auto;
  display: block;
  width: 90%;
  @include rem(margin-bottom, 20px);
}

.section__hr {
  // border: 1px solid lighten($gray-lighter, 15%);
  margin-top: 80px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(151,151,151, 0), rgba(151,151,151, 0.75), rgba(151,151,151, 0));
}

.section__hr--slim {
  margin-top: 30px;
}
