@import 'variables';
@import 'section';

// fixes wierd nav.toggleable floats
@include media-breakpoint-down(xs) {
  .navbar-toggleable-xs {
    clear: both;
  }
}

// content
.page-content {
  padding-top: 0;
  min-height: 100vh;
}

.btn {
  @include border-radius(0)
}

// icons
.fa--border {
  border: 1px solid;
  border-radius: 100%;
  padding: 5px 6px;
}
