body {
  padding-top: 54px;
  padding-bottom: 30px;
}

// bootstrap settings

// fixes wierd nav.toggleable floats
@include media-breakpoint-down(xs) {
  .navbar-toggleable-xs {
    clear: both;
  }
}

.section__title {
  text-align: center;
}
.section__lead {
  text-align: center;
}
