{% extends "default.html" %}
{% block "contents" %}
  <section id="archive" class="section">
    <div class="container">
      <div class="section__header">
        <h3 class="section__category">Archive</h3>
        <h2 class="section__title">Browse versions</h2>
        <p class="lead section__lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend magna vitae diam feugiat, eu eleifend est luctus.</p>
      </div>
      <div class="row">
        {% for cat in downloads.categories %}
          <ul class="list-group">
            <li class="list-group-item active">
              {{ cat.title }}
              <span class="tag tag-default pull-xs-right">{{ downloads.version }}</span>
            </li>
            {% for download in cat.links %}
            <li class="list-group-item">
              <span class=" tag-pill pull-xs-right">
                <a href="{{ download.link }}"><i class="fa fa-download" aria-hidden="true"></i></a>
              </span>
              <a data-track="download" data-track-meta='{ "image": "{{ download.title|capitalize }}", "href": "{{ download.link }}", "deviceType": "{{ cat.title }}", "position": "archive" }' href="{{ download.link }}">
                {{ download.title|capitalize }}
              </a>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
      <hr class="section__hr">
    </div>
  </section>
{% endblock %}
