<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ repo.name|capitalize }} - {{ title }}</title>
    <meta property="og:title" content="Facebook Open Graph META Tags"/>
    <meta property="og:image" content="/images/logos/project.png"/>
    <meta property="og:site_name" content="{{ repo.name }}"/>
    <meta property="og:description" content="{{ repo.tagLine }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/16x16.png">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,400,600|Montserrat:400,600">
    <!-- your generated css -->
    <link rel="stylesheet" href="/main.min.css">
    {% include "_head-scripts.html" %}
  </head>
  <body data-spy="scroll" data-target=".in-page-nav">
    {% include "components/nav/_site-nav.html" %}
    <section class="page-content page-content--{{ title }}">
      {% block "contents" %}
      {% endblock %}
    </section>
    {% include "components/nav/_footer.html" %}
    <!-- your browserified scripts -->
    <script src="/bundle.js"></script>
    {% include "_footer-scripts.html" %}
  </body>
</html>
