{% extends "default.html" %}
{% block "contents" %}
<div class="docs">
  <div class="container docs__container">
    <div class="docs__sidebar col-md-3">
      <div data-spy="affix" data-offset-top="60" data-offset-bottom="200">
        <div class="search-wrapper">
          {% include "components/_search-form.html" %}
        </div>
        {% include "components/_docs-nav.html" %}
      </div>
    </div>

    <article class="col-md-9">
      <div class="docs__header-wrapper">
        {% include "components/_breadcrumbs.html" %}
      </div>
      {% if dynamic and $switch_text %}
        <div class="dynamic-switch well">
          {% include "components/_dynamic-switch.html" %}
        </div>
      {% endif %}
      <section class="docs__content">
        {% block "searchContents" %}
          {{ searchContents|safe }}
        {% endblock %}
        {% block "docsContent" %}
          {{ contents|safe }}
        {% endblock %}
      </section>
    </article>
  </div>
</div>
{% endblock %}
