{% extends "default.html" %}
{% block "contents" %}
  {% if repo %}
    {% include "components/_jumbotron.html" %}
  {% endif %}
  {% if features %}
    {% include "components/_features.html" %}
  {% endif %}
  {% include "components/_story.html" %}
  {% if downloads %}
    {% include "components/downloads/_categories.html" %}
  {% endif %}
  {% if milestones %}
    {% include "components/_milestones.html" %}
  {% endif %}
  {% if FAQs %}
    {% include "components/_FAQs.html" %}
  {% endif %}
  <!-- {{ contents|safe }} -->
{% endblock %}
