$gray-dark:                 #38383a !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #bbbbbb !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #ffffff !default;
$brand-primary:             #0275d8 !default;
$brand-success:             #4abe7e !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$font-family-sans-serif: 'proxima-nova', 'Open Sans', Tahoma, sans-serif;
