$gray-dark:                 #303030 !default;
$gray:                      #505050 !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #d1d1d1 !default;
$gray-lightest:             #f7f7f9 !default;
$white:                     #ffffff !default;
$brand-primary:             #3e9b9f !default;
$brand-success:             #4abe7e !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;
$brand-inverse:             $gray-dark !default;

$gradient-to: #33af40;
$gradient-from: #358fb0;
$font-family-sans-serif: 'proxima-nova', 'Open Sans', Tahoma, sans-serif;
$rem-px-converter-base: 16;
