<section id="features" class="section">
  <div class="container">
    <div class="section__header">
      <h3 class="section__category">Features</h3>
      <h2 class="section__title">Building the OS we need</h2>
      <p class="lead section__lead">resinOS was born from our own experience deploying embedded containers across device types.</p>
    </div>
    <div class="row">
      {% for feature in features %}
        <div class="feature col-md-4">
          <img src="/images/icons/features/{{ feature.icon }}.png" srcset="/images/icons/features/{{ feature.icon }}@2x.png 2x">
          <h5>{{ feature.title|capitalize }}</h5>
          <p class="feature__description">{{ feature.description }}</p>
        </div>
        {% if loop.index % 3 == 0 %} </div><div class="row"> {% endif %}
      {% endfor %}
    </div>
    <hr class="section__hr">
  </div>
</section>
