<section class="jumbotron jumbotron-fluid section section--inv">
  <div class="container">
    <h1 class="display-3 jumbotron__title">{{ repo.tagLine }}</h1>
    <!-- <h3 class="jumbotron__tagline"></h3> -->
    <p class="lead jumbotron__lead">{{ repo.description }}</p>
    {% include "_social.html" %}
    <a href="/docs/raspberrypi2/gettingstarted/" class="btn btn-success" data-track="link click" data-track-meta='{ "title": "Try {{ repo.name }}", "href": "/docs/raspberrypi2/gettingstarted/", "position": "jumbotron"}'>Try {{ repo.name }}</a>
    <p class="lead jumbotron__meta">
      Latest version {{ downloads.version.number }} | {{ downloads.version.name }}
    </p>
  </div>
</section>
