
<div class="social">
  <!-- Place this tag where you want the button to render. -->
  {% if tweet %}
  <a class="twitter-share-button"
    href="https://twitter.com/share"
    data-size="large"
    data-text="{{ tweet }}">
  Tweet
  </a>
  {% endif %}
  {% if repo %}
  <a class="github-button" href="{{ repo.link }}" data-style="mega" data-count-href="/{{ repo.full_name }}/stargazers" data-count-api="/repos/{{ repo.full_name }}#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star {{ repo.full_name }} on GitHub">Star</a>
  {% endif %}
</div>
