.docs__navigation {
  @include rem(padding, 10px);
}
.docs__navigation {
  h5 {
    @include rem(padding, 10px);
    border-bottom: 1px solid $gray-lighter;
    a {
      color: $gray-light;
    }
  }
}

.docs__navigation h5.active > a {
  color: $gray-dark;
  font-weight: bold;
}

.docs__navigation ul {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}

.docs__navigation, .in-page-nav {
  li {
    .active {
      color: $gray-dark;
    }
    > a {
      color: $gray-light;
    }
  }
}

.docs__navigation li.active > a {
  color: $gray-dark;
  font-weight: bold;
}

.docs__header-wrapper {
  margin-right: -15px;
  margin-left: -15px;
  border-radius: 0;
}

.breadcrumb {
  // TODO break this into seperate component sheet
  @include border-radius(0)
  @include rem(padding, 10px);
  background: $white;
  color: $gray-lighter;
  border-bottom: 1px solid $gray-lighter;
  li {
    display: inline-block;
  }
  .active {
    color: $gray-dark;
  }
}

.docs__sidebar {
  // hack do this with js
  padding: 0;
  min-height: 150vh;
  background: $white;
  border-right: 1px solid $gray-lighter;
}

.docs__container {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
  background: $white;
  padding: 0;
}

.docs {
  background: $gray-lightest;
}
