.docs-navigation h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.docs-navigation h5.active > a {
  color: #333;
}

.docs-navigation ul {
  list-style: none;
  margin-left: 20px;
  padding: 0;
}

.docs-navigation li.active > a {
  color: #333;
  font-weight: bold;
}
