<section id="downloads" class="section">
  <div class="container">
    <h1 class="display-3 section__title">Downloads</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eleifend magna vitae diam feugiat, eu eleifend est luctus.</p>
    <div class="row">
      {% for family in deviceFamilys %}
        <div class="download col-md-3">
          <a href="/downloads#{{ family.title }}">
            <img src="/images/icons/{{ family.image }}.png" srcset="/images/icons/{{ family.image }}@2x.png 2x">
          </a>
        </div>
      {% endfor %}
  </div>
</section>
