<script id="downloads__wellTmpl" type="text/template">
 <!-- using lodash templates here not swig -->
  <div class="downloads__well">
    <i class="downloads__well__caret fa fa-caret-up fa-lg" aria-hidden="true"></i>
    <div class="downloads__well__profile">
      <img class="downloads__well__profile__icon" src="/images/icons/downloads/<%- catId %>.png" srcset="/images/icons/downloads/<%- catId %>@2x.png 2x">
      <h4 class="downloads__well__profile__title"><%- catTitle %></h4>
    </div>
    <div class="table-responsive">
      <table class="table downloads__well__table">
        <thead>
          <tr>
            <th>Model</th>
            <th>Development Release</th>
          </tr>
        </thead>
        <tbody>
          <% jq.each(downloads, function(index, download) { %>
            <tr>
              <td><%- download.name %></td>
              <td>
                <i class="fa fa-cog fa-spin"></i>
                <a
                style="display: none"
                class="js-download-link"
                data-device-name="<%- download.name %>"
                data-device-id="<%- download.id %>"
                data-track="download"
                href="#">
                  <span class="os-label"></span>
                  <i class="fa fa-download" aria-hidden="true"></i>
                </a>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <div class="downloads__well__footer">
      <a class="downloads__well__footer__link" href="/docs/raspberry-pi2/gettingstarted/">Get Started</a>
    </div>
  </div>
</script>
